<ion-content>
  <swiper-container>


    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Magyarorszag</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (1).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Montaña</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (2).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Gota de rocio</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (3).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Flor de cerezo</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (4).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Nectar!!</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (5).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Invierno</ion-title>
        </ion-toolbar> 
      </ion-header>

      <img src="assets/img/img-slider (6).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Pulsatilla primavera</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (7).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Playa</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (8).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Galaxia</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (9).jpg" alt="">
    </swiper-slide>

    <swiper-slide>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>Sombra</ion-title>
        </ion-toolbar>
      </ion-header>

      <img src="assets/img/img-slider (10).jpg" alt="">
    </swiper-slide>


  </swiper-container>

</ion-content>