/* 1.crear dos clases de css y van a llamarlas en su html 
2.personalizar todos sus slides con informacion diferente y minimo sean 5 slides diferentes  */
/* #container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
} */

ion-title{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
}
img {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



 