<ion-header>
  <ion-toolbar>
    <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
    <ion-title>Nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header class="parent">
      <ion-card-title>
        Registrate!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formRegister">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar</ion-label>
          <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-list class="parent">
        <ion-item (click)="registerNewUser()">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Registrarse
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-list slot="start">
      <ion-item (click)="goToLogin()" class="MyText">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-item>
    </ion-list>
  </ion-toolbar>

</ion-footer>