<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        <ion-avatar (click)="takePhoto()" class="parent">
          <img [src]="userImage" *ngIf="!photo" />
          <img [src]="photo" *ngIf="photo" />
        </ion-avatar>
      </ion-card-title>
      <ion-card-subtitle>
        <h1 class="ion-text-center">{{user.name}}</h1>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h2 class="ion-text-center">{{user.email}}</h2>
      <ion-grid>
        <ion-row class="align-items-center ion-text-center row-header">
          <ion-col>100</ion-col>
          <ion-col>25</ion-col>
          <ion-col>123</ion-col>
        </ion-row>
        <ion-row class="align-items-center ion-text-center">
          <ion-col>Artistas</ion-col>
          <ion-col>Seguidores</ion-col>
          <ion-col>Canciones</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  
  
</ion-content>
